.section {
  min-height: 600px;
}

.title {
  text-align: center;
}

.searchForm {
  display: flex;
  align-items: center;
  width: 100%;
  height: 38px;
  padding: 0 20px;
  background: #ffffff;
  box-shadow: var(--shadow-sm);
  border-radius: 50px;
  margin-bottom: 2em;
}

.searchInput {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  box-shadow: none;
  background: transparent;
  padding: 0;
}

.loadMore {
  text-align: center;
  margin-top: var(--spacing-md);
}
