.tabs {
  font-size: 1.3rem;
  margin-bottom: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}

.item {
  display: block;
}

.link {
  display: block;
  padding: 0.5rem 1rem;
  color: var(--color-primary);
  font-weight: 500;
  transition: color var(--transition);
}

.link:hover {
  color: var(--color-primary-hover);
}

.linkActive {
  color: #ff0000;
  font-weight: 600;
}
